footer{
    background-color: lightskyblue;
    @extend %alinear;
    ul{
        @extend %alinear1;
        list-style: none; 
        li{
            font-size: 15px;
            margin: 3rem;
        }
    }
}