header{
    background-color: lightblue;
    nav{
        font-size: 25px;
        ul{
            li{
                list-style: none;
                align-items: center;
            }
        }
    }
}