header{
    background-color: lightskyblue;
    @extend %alinear;
    nav{
        ul{
            @extend %alinear1;
            list-style: none;
            li{
                font-size: 30px;
                margin: 2rem;
            }
        }
    }
}